<%= render layout: 'layouts/sidemenu' do %>
  <%= form_with(model: club, local: true) do |form| %>
    <% if club.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

        <ul>
        <% club.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="actions">
    <%= form.submit "Save", class: 'ui small blue button' %>
    <%= link_to "Cancel", clubs_path, class:"ui small red button" %>
  </div>
  <div class="ui form">
    <div class="two fields">
      <div class="five wide field">
        <%= form.label :name, class: 'label' %>
        <%= form.text_field :name, id: 'club_name' %>
      </div>
      <div class="five wide field">
        <%= form.label :logo, class: 'label' %>
        <%= form.file_field :logo, id: 'logo' %>
      </div>

    </div>
    <h4 class="ui dividing header">Street Address</h4>
    <div class="field">
      <%= form.label :street_address, class: 'label' %>
      <%= form.text_field :street_address, id: 'street_address' %>
    </div>
    <div class="three fields" id="street_details">
      <div class="eight wide field">
        <%= form.label :street_city, 'Suburb/City', class: 'label' %>
        <%= form.text_field :street_city, id: 'street_city' %>
      </div>
      <div class="three wide field">
        <%= form.label :street_state, 'State', class: 'label' %>
        <%= form.select(:street_state, options_from_collection_for_select(Keyword.where(key_type: "State"), "key_value", "key_value", @club.street_state), {include_blank: true}, {class: 'ui dropdown', id: 'street_state'}) %>
      </div>
      <div class="three wide field">
        <%= form.label :street_postcode, 'Postcode', class: 'label' %>
        <%= form.text_field :street_postcode, id: 'street_postcode' %>
      </div>
    </div>
    <h4 class="ui dividing header">Postal Address</h4>
    <div class="field">
      <%= form.label :postal_address, class: 'label' %>
      <%= form.text_field :postal_address, class: 'ten wide field', id: 'postal_address' %>
    </div>
    <div class="three fields">
      <div class="eight wide field">
        <%= form.label :postal_city, 'Suburb/City', class: 'label' %>
        <%= form.text_field :postal_city, id: 'postal_city' %>
      </div>
      <div class="three wide field">
        <%= form.label :postal_state, 'State', class: 'label' %>
        <%= form.select(:postal_state, options_from_collection_for_select(Keyword.where(key_type: "State"), "key_value", "key_value", @club.postal_state), {include_blank: true}, {class: 'ui dropdown', id: 'postal_state'}) %>
      </div>
      <div class="three wide field">
        <%= form.label :postal_postcode, 'Postcode', class: 'label' %>
        <%= form.text_field :postal_postcode, id: 'postal_postcode' %>
      </div>
    </div>
    <div class="four fields">
      <div class="four wide field">
        <%= form.label :phone, 'Phone', class: 'label' %>
        <%= form.text_field :phone, id: 'phone' %>
      </div>
      <div class="four wide field">
        <%= form.label :fax, 'Fax', class: 'label' %>
        <%= form.text_field :fax, id: 'fax' %>
      </div>
      <div class="four wide field">
        <%= form.label :email, 'Email', class: 'label' %>
        <%= form.text_field :email, id: 'email' %>
      </div>
      <div class="four wide field">
        <%= form.label :website, 'Website', class: 'label' %>
        <%= form.text_field :website, id: 'website' %>
      </div>
    </div>
    <h4 class="ui dividing header">Office Bearers/Contacts</h4>
    <div class="two fields">
      <div class="five wide field">
        <%= form.label :president_name, 'President', class: 'label' %>
        <%= form.text_field :president_name, id: 'president_name' %>
      </div>
      <div class="five wide field">
        <%= form.label :president_contact, 'Contact', class: 'label' %>
        <%= form.text_field :president_contact, id: 'president_contact' %>
      </div>
    </div>
    <div class="two fields">
      <div class="five wide field">
        <%= form.label :chairman_name, 'Chairman', class: 'label' %>
        <%= form.text_field :chairman_name, id: 'chairman_name' %>
      </div>
      <div class="five wide field">
        <%= form.label :chairman_contact, 'Contact', class: 'label' %>
        <%= form.text_field :chairman_contact, id: 'chairman_contact' %>
      </div>
    </div>
    <div class="two fields">
      <div class="five wide field">
        <%= form.label :secretary_name, 'Secretary', class: 'label' %>
        <%= form.text_field :secretary_name, id: 'secretary_name' %>
      </div>
      <div class="five wide field">
        <%= form.label :secretary_contact, 'Contact', class: 'label' %>
        <%= form.text_field :secretary_contact, id: 'secretary_contact' %>
      </div>
    </div>
    <div class="two fields">
      <div class="five wide field">
        <%= form.label :treasurer_name, 'Chairman', class: 'label' %>
        <%= form.text_field :treasurer_name, id: 'treasurer_name' %>
      </div>
      <div class="five wide field">
        <%= form.label :treasurer_contact, 'Contact', class: 'label' %>
        <%= form.text_field :treasurer_contact, id: 'treasurer_contact' %>
      </div>
    </div>
  <% end %>
<% end %>
