<p id="notice"><%= notice %></p>
<%= render layout: 'layouts/sidemenu' do %>
  <h3 class="grey ui header">
      <i class="globe icon"></i>
      <div class="content">Clubs</div>
  </h3>
  <span><%= link_to "New", new_club_path, class: "ui small blue button" %></span>
  <table class="ui very basic table">
        <thead>
            <tr>
                <th>Club</th>
                <th>Address</th>
                <th>Website</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @clubs.each do |club| %>
                <tr>
                    <td><%= link_to club.name, club, class: 'inline-link' %></td>
                    <td><%= club.display_address %></td>
                    <td><%= club.website %></td>
                    <td><%= club.phone %></td>
                    <td><%= club.fax %></td>
                    <td><%= club.email %></td>
                    <td><%= link_to 'Teams', club_teams_path(club.id), class:'ui tiny teal button' %><%= link_to 'Players', club_players_path(club.id), class:'ui tiny teal button' %></td>
                    <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' }, class:'ui tiny red button' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

<% end %>