<%= render layout: 'layouts/sidemenu' do %>
<div class='action-glyphs'>
  <span><%= link_to "Edit", edit_club_path(@club), class: "ui blue button" %></span>
  <span><%= link_to "New Team", new_club_team_path(@club.id), class: "ui teal button" %></span>
  <span><%= link_to "New Player", new_club_player_path(@club.id), class: "ui teal button" %></span>
  <span><%= link_to "Cancel", clubs_path, class:"ui red button" %></span>
</div>
<p id="notice"><%= notice %></p>
<h3 class="grey ui header">
  <i class="globe icon"></i>
  <div class="content">Club Details</div>
</h3>

<div class="ui form">
  <div class="two fields">
    <div class="three wide field">
      <label>Name</label>
      <%= @club.name %>
    </div>
    <div class="two wide field">
      <% if @club.logo.present? %>
        <%= image_tag @club.logo_url.to_s %>
      <% end %>
    </div>
  </div>
  
  <h4 class="ui dividing header">Street Address</h4>
  <div class="field">
    <label>Address</label>
    <%= @club.street_address %>
  </div>
  <div class="three fields">
    <div class="eight wide field">
      <label>Suburb/City</label>
      <%= @club.street_city %>
    </div>
    <div class="three wide field">
      <label>State</label>
      <%= @club.street_state %>
    </div>
    <div class="three wide field">
      <label>Postcode</label>
      <%= @club.street_postcode %>
    </div>
  </div>
  <h4 class="ui dividing header">Postal Address</h4>
  <div class="field">
    <label>Address</label>
    <%= @club.postal_address %>
  </div>
  <div class="three fields">
    <div class="eight wide field">
      <label>Suburb/City</label>
      <%= @club.postal_city %>
    </div>
    <div class="three wide field">
      <label>State</label>
      <%= @club.postal_state %>
    </div>
    <div class="three wide field">
      <label>Postcode</label>
      <%= @club.postal_postcode %>
    </div>
  </div>
  <div class="four fields">
    <div class="four wide field">
      <label>Phone</label>
      <%= @club.phone %>
    </div>
    <div class="four wide field">
      <label>Fax</label>
      <%= @club.fax %>
    </div>
    <div class="four wide field">
      <label>Email</label>
      <%= @club.email %>
    </div>
    <div class="four wide field">
      <label>Website</label>
      <%= @club.website %>
    </div>
  </div>
  <h4 class="ui dividing header">Office Bearers/Contacts</h4>
  <div class="two fields">
    <div class="five wide field">
      <label>President</label>
      <%= @club.president_name %>
    </div>
    <div class="five wide field">
      <%= @club.president_contact %>
    </div>
  </div>
  <div class="two fields">
    <div class="five wide field">
      <label>Chairman</label>
      <%= @club.chairman_name %>
    </div>
    <div class="five wide field">
      <%= @club.chairman_contact %>
    </div>
  </div>
  <div class="two fields">
    <div class="five wide field">
      <label>Secretary</label>
      <%= @club.secretary_name %>
    </div>
    <div class="five wide field">
      <%= @club.secretary_contact %>
    </div>
  </div>
  <div class="two fields">
    <div class="five wide field">
      <label>Treasurer</label>
      <%= @club.treasurer_name %>
    </div>
    <div class="five wide field">
      <%= @club.treasurer_contact %>
    </div>
  </div>
</div>
<% end %>
