<%= render layout: 'layouts/sidemenu' do %>
  <%= form_with(model: team, local: true) do |form| %>
    <% if team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

        <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="actions">
    <%= form.submit "Save", class: 'ui small blue button' %>
    <%= link_to "Cancel", teams_path, class:"ui small red button" %>
  </div>
  <div class="ui form">
    <div class="field">
      <%= form.label :club_id, 'Club', class: 'label' %>
      <%= form.select(:club_id, options_from_collection_for_select(@clubs, "id", "name", @team.club_id), {}, {class: 'ui dropdown', id: 'club_id'}) %>
    </div>
    <div class="field">
      <%= form.label :name, class: 'label' %>
      <%= form.text_field :name, id: 'team_name' %>
    </div>
    <div class="field">
      <%= form.label :grade, class: 'label' %>
      <%= form.text_field :grade, id: 'grade' %>
    </div>
    <div class="two fields">
      <div class="seven wide field">
        <%= form.label :captain, class: 'label' %>
        <%= form.text_field :captain, id: 'captain' %>
      </div>
      <div class="seven wide field">
        <%= form.label :vice_captain, class: 'label' %>
        <%= form.text_field :vice_captain, id: 'vice_captain' %>
      </div>
    </div>
  <% end %>
<% end %>
