<p id="notice"><%= notice %></p>
<%= render layout: 'layouts/sidemenu' do %>

<h3 class="grey ui header">
  <i class="users icon"></i>
  <div class="content">Teams</div>
</h3>

<span><%= link_to "New", new_team_path, class: "ui small blue button" %></span>
<table class="ui very basic table">
      <thead>
          <tr>
              <th>Grade</th>
              <th>Team Name</th>
              <th>Captain</th>
              <th>Vice Captain</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <% @teams.each do |team| %>
              <tr>
                  <td><%= team.grade %></td>
                  <td><%= link_to team.name, team, class: 'inline-link' %></td>
                  <td><%= team.captain %></td>
                  <td><%= team.vice_captain %></td>
                  <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }, class:'ui tiny red button' %></td>
              </tr>
          <% end %>
      </tbody>
  </table>
<% end %>
