<%= render layout: 'layouts/sidemenu' do %>
  <h3 class="grey ui header">
    <i class="users icon"></i>
    <div class="content">Team Details</div>
  </h3>
  <div class='action-glyphs'>
    <span><%= link_to "Edit", edit_team_path(@team), class: "ui blue button" %></span>
    <span><%= link_to "New Player", new_team_player_path(@team.id), class: "ui teal button" %></span>
    <span><%= link_to "Cancel", teams_path, class:"ui red button" %></span>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="ui form">
    <div class="field">
      <label>Name</label>
      <%= @team.name %>
    </div>
    <div class="field">
      <label>Grade</label>
      <%= @team.grade %>
    </div>
    <div class="two fields">
      <div class="seven wide field">
        <label>Captain</label>
        <%= @team.captain %>
      </div>
      <div class="seven wide field">
        <label>Vice Captain</label>
        <%= @team.vice_captain %>
      </div>
    </div>
<% end %>
