<%= render layout: 'layouts/sidemenu' do %>
  <%= form_with(model: competition, local: true) do |form| %>
    <% if competition.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

        <ul>
        <% competition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="actions">
    <%= form.submit "Save", class: 'ui small blue button' %>
    <%= link_to "Cancel", competitions_path, class:"ui small red button" %>
  </div>
  <div class="ui form">
    <div class="nine wide field">
      <%= form.label :name, class: 'label' %>
      <%= form.text_field :name, id: 'competition_name' %>
    </div>
    <div class="three fields">
      <div class="three wide field">
        <%= form.label :start_date, class: 'label' %>
        <%= form.text_field :start_date, id: 'competition_start_date' %>
      </div>
      <div class="three wide field">
        <%= form.label :end_date, class: 'label' %>
        <%= form.text_field :end_date, id: 'competition_end_date' %>
      </div>
      <div class="three wide field">
        <%= form.label :match_days, 'No of Days for Match', class: 'label' %>
        <%= form.text_field :match_days, id: 'competition_match_days' %>
      </div>
    </div>
    <div class="field">
      <%= form.label :limited_overs, 'Limited Overs?', class: 'label' %>
      <%= form.check_box :limited_overs, class: 'ui checkbox', id: 'competition_limited_overs' %>
    </div>
    <div class="two fields" id="limited_over_details">
      <div class="three wide field">
        <%= form.label :max_overs, 'Maximum Overs', class: 'label' %>
        <%= form.text_field :max_overs, id: 'competition_max_overs' %>
      </div>
      <div class="three wide field">
        <%= form.label :max_bowler_overs, 'Maximum Overs per Bowler', class: 'label' %>
        <%= form.text_field :max_bowler_overs, id: 'competition_max_bowler_overs' %>
      </div>
    </div>
    <div class="nine wide field">
      <%= form.label :restrict_bat, 'Batting Restrictions', class: 'label' %>
      <%= form.text_field :restrict_bat, id: 'competition_restrict_bat' %>
    </div>
    <div class="nine wide field">
      <%= form.label :restrict_bowl, 'Bowling Restrictions', class: 'label' %>
      <%= form.text_field :restrict_bowl, id: 'competition_restrict_bowl' %>
    </div>
    <div class="nine wide field">
      <%= form.label :restrict_field, 'Fielding Restrictions', class: 'label' %>
      <%= form.text_field :restrict_field, id: 'competition_restrict_field' %>
    </div>
    <div class="three fields">
      <div class="three wide field">
        <%= form.label :points_win, 'Points for Win', class: 'label' %>
        <%= form.text_field :points_win, id: 'competition_points_win' %>
      </div>
      <div class="three wide field">
        <%= form.label :points_draw, 'Points for Draw', class: 'label' %>
        <%= form.text_field :points_draw, id: 'competition_points_draw' %>
      </div>
      <div class="three wide field">
        <%= form.label :points_lose, 'Points for Loss', class: 'label' %>
        <%= form.text_field :points_lose, id: 'competition_points_lose' %>
      </div>
    </div>
    <div class="field">
      <%= form.label :allow_bonus, 'Allow Bonus Points?', class: 'label' %>
      <%= form.check_box :allow_bonus, class: 'ui checkbox', id: 'competition_allow_bonus' %>
    </div>
    <div class="two fields" id="bonus_points_details">
      <div class="six wide field">
        <%= form.label :bonus_criteria, 'Criteria for Bonus Points', class: 'label' %>
        <%= form.text_field :bonus_criteria, id: 'competition_bonus_criteria' %>
      </div>
      <div class="three wide field">
        <%= form.label :points_bonus, 'Bonus Points', class: 'label' %>
        <%= form.text_field :points_bonus, id: 'competition_points_bonus' %>
      </div>
    </div>
  <% end %>
<% end %>
