<p id="notice"><%= notice %></p>
<%= render layout: 'layouts/sidemenu' do %>
  <h3 class="grey ui header">
      <i class="globe icon"></i>
      <div class="content">Competitions</div>
  </h3>
  <span><%= link_to "New", new_competition_path, class: "ui small blue button" %></span>
  <table class="ui very basic table">
        <thead>
            <tr>
              <th>Competition</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Rounds</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <% @competitions.each do |competition| %>
                <tr>
                    <td><%= link_to competition.name, competition, class: 'inline-link' %></td>
                    <td><%= competition.start_date.to_formatted_s(:rfc822) %></td>
                    <td><%= competition.end_date.to_formatted_s(:rfc822) %></td>
                    <td>
                      <%= link_to "Fixtures", competition_rounds_path(competition.id), class: "ui tiny teal button" %>
                      <%= link_to 'Destroy', competition, method: :delete, data: { confirm: 'Are you sure?' }, class:'ui tiny red button' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

<% end %>
