<%= render layout: 'layouts/sidemenu' do %>
  <h3 class="grey ui header">
    <i class="user icon"></i>
    <div class="content">Competition Details</div>
  </h3>
  <div class='action-glyphs'>
    <span><%= link_to "Fixtures", competition_rounds_path(@competition.id), class: "ui teal button" %></span>
    <span><%= link_to "Edit", edit_competition_path(@competition), class: "ui blue button" %></span>
    <span><%= link_to "Cancel", competitions_path, class:"ui red button" %></span>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="ui form">
    <div class="seven wide field">
      <label>Competition Name</label>
      <%= @competition.name %>
    </div>
    <div class="three fields">
      <div class="three wide field">
        <label>Start date</label>
        <%= @competition.start_date.to_formatted_s(:rfc822) %>
      </div>
      <div class="three wide field">
        <label>End date</label>
        <%= @competition.end_date.to_formatted_s(:rfc822) %>
      </div>
      <div class="two wide field">
        <label>No of Days for Match</label>
        <%= @competition.match_days %>
      </div>
    </div>
    <div class="field">
      <label>Limited Overs?</label>
      <span id="limited_overs"><%= yesno_boolean(@competition.limited_overs) %></span>
    </div>
    <div class="two fields" id="limited_over_details">
      <div class="three wide field">
        <label>Maximum Overs</label>
        <%= @competition.max_overs %>
      </div>
      <div class="three wide field">
        <label>Maximum Overs per Bowler</label>
        <%= @competition.max_bowler_overs %>
      </div>
    </div>
    <div class="field">
      <label>Batting Restrictions</label>
      <%= @competition.restrict_bat %>
    </div>
    <div class="field">
      <label>Bowling Restrictions</label>
      <%= @competition.restrict_bowl %>
    </div>
    <div class="field">
      <label>Fielding Restrictions</label>
      <%= @competition.restrict_field %>
    </div>
    <div class="three fields">
      <div class="three wide field">
        <label>Points for Win</label>
        <%= @competition.points_win %>
      </div>
      <div class="three wide field">
        <label>Points for Draw</label>
        <%= @competition.points_draw %>
      </div>
      <div class="two wide field">
        <label>Points for Loss</label>
        <%= @competition.points_lose %>
      </div>
    </div>
    <div class="field">
      <label>Allow Bonus Points?</label>
      <span id="allow_bonus"><%= yesno_boolean(@competition.allow_bonus) %></span>
    </div>
    <div class="two fields" id="bonus_points_details">
      <div class="six wide field">
        <label>Criteria for Bonus Points</label>
        <%= @competition.bonus_criteria %>
      </div>
      <div class="three wide field">
        <label>Bonus Points</label>
        <%= @competition.points_bonus %>
      </div>
    </div>
  </div>
<% end %>
