    <div class="four fields">
        <div class="two wide field">
            <%= f.text_field :grade, id: 'fixture_grade' %>
        </div>
        <div class="two wide field">
            <%= f.text_field :home_team, id: 'fixture_home_team' %>
        </div>
        <div class="two wide field">
            <%= f.text_field :away_team, id: 'fixture_away_team' %>
        </div>
        <div class="two wide field">
            <%= f.text_field :ground, id: 'fixture_ground' %>
        </div>
        <div class="four wide field">
            <%= link_to_remove_association 'Remove', f, class: 'ui tiny red button' %>
        </div>
    </div>
