<%= render layout: 'layouts/sidemenu' do %>
  <%= form_with(model: round, local: true) do |form| %>
    <% if round.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(round.errors.count, "error") %> prohibited this round from being saved:</h2>

        <ul>
        <% round.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="actions">
      <%= form.submit "Save", class: 'ui small blue button' %>
      <%= link_to "Cancel", competitions_path, class:"ui small red button" %>
    </div>
    <div class="ui form">
      <div class="two wide field">
        <%= form.label :round_no, class: 'label' %>
        <%= form.text_field :round_no, id: 'round_round_no' %>
      </div>
    <div class="two fields">
      <div class="three wide field">
        <%= form.label :start_date, class: 'label' %>
        <%= form.text_field :start_date, id: 'round_start_date' %>
      </div>
      <div class="three wide field">
        <%= form.label :end_date, class: 'label' %>
        <%= form.text_field :end_date, id: 'round_end_date' %>
      </div>
    </div>
    <div class="ui raised segment">
      <div class="four fields">
        <div class="two wide field">Grade</div>
        <div class="two wide field">Home Team</div>
        <div class="two wide field">Away Team</div>
        <div class="two wide field">Ground</div>
        <div class="eight wide field"><%= link_to_add_association 'Add Fixtures', form, :fixtures, partial: 'rounds/fixture_details', class: 'ui small blue button', data: { association_insertion_method: :append,  association_insertion_node: '#detail_body'} %></div>
      </div>
      <div class="ui divider"></div>
      <div id="detail_body">
        <%= form.fields_for :fixtures do |dtl| %>
          <%= render 'fixture_details', :f => dtl %>
        <% end %>
      </div>

    </div>
  <% end %>
<% end %>
