<p id="notice"><%= notice %></p>
<%= render layout: 'layouts/sidemenu' do %>
  <h3 class="grey ui header">
      <i class="globe icon"></i>
      <div class="content">Competitions</div>
  </h3>
  <span><%= link_to "New", new_competition_round_path(params[:competition_id]), class: "ui small blue button" %></span>
  <table class="ui very basic table">
    <tbody>
      <% @rounds.each do |round| %>
        <tr>
          <td colspan='7'>
            <div class="ui accordion field">
              <div class="title">
                <i class="icon dropdown"></i>
                  Round <%= round.round_no %>
              </div>
              <div class="content field">
                <table class="ui very basic table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Start date</th>
                      <th>End date</th>
                      <th class="two wide">Grade</th>
                      <th class="two wide">Home Team</th>
                      <th class="two wide">Away Team</th>
                      <th class="two wide">Ground</th>
                      <th class="two wide"></th>
                      <th colspan="2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td style="vertical-align: top;" class="two wide"><%= round.start_date.to_formatted_s(:rfc822) %></td>
                      <td style="vertical-align: top;" class="two wide"><%= round.end_date.to_formatted_s(:rfc822) %></td>
                      <td colspan="5" style="vertical-align: top; padding: 0 0 0 0;">
                        <table class="ui very basic compact table">
                          <% round.fixtures.each do |fix| %>
                            <tr>
                              <td style="vertical-align: top;padding-left: 10px;" class="two wide"><%= fix.grade %></td>
                              <td style="vertical-align: top;" class="two wide"><%= fix.home_team %></td>
                              <td style="vertical-align: top;" class="two wide"><%= fix.away_team %></td>
                              <td style="vertical-align: top;" class="two wide"><%= fix.ground %></td>
                              <td style="vertical-align: top;" class="two wide"><%= link_to 'Create Match', new_fixture_match_path(fix.id), class: "ui tiny green button" %></td>
                            </tr>
                          <% end %>
                        </table>
                      </td>
                      <td style="vertical-align: top;" class="one wide"><%= link_to 'Edit', edit_round_path(round), class: "ui tiny blue button" %></td>
                      <td style="vertical-align: top;" class="three wide"><%= link_to 'Delete', round, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui tiny red button" %></td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>