<%= render layout: 'layouts/sidemenu' do %>
  <h3 class="grey ui header">
    <i class="user icon"></i>
    <div class="content">Round Details</div>
  </h3>
  <div class='action-glyphs'>
    <span><%= link_to "Edit", edit_round_path(@round), class: "ui blue button" %></span>
    <span><%= link_to "Cancel", competitions_path, class:"ui red button" %></span>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="ui form">
    <div class="three wide field">
      <label>Round No</label>
      <%= @round.round_no %>
    </div>
    <div class="two fields">
      <div class="three wide field">
        <label>Start date</label>
        <%= @round.start_date.to_formatted_s(:rfc822) %>
      </div>
      <div class="three wide field">
        <label>End date</label>
        <%= @round.end_date.to_formatted_s(:rfc822) %>
      </div>
    </div>
  </div>
<% end %>
