<%= form_with(model: inning, local: true) do |form| %>
  <% if inning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inning.errors.count, "error") %> prohibited this inning from being saved:</h2>

      <ul>
      <% inning.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="ui grid">
    <div class="ui sixteen wide column">
      <table class="ui attached very compact celled table" id="graph_table">
        <tbody>
          <tr id="graph-collapse-row" class="detail_header_row">
            <td class="one wide"><a class="no-link" id="graph_collapse"><i class="large inverted white caret square up outline icon"></i></a></td>
            <td colspan=13 class="detail_header_text">Overs</td>
          </tr>
          <tr id="graph-expand-row" class="detail_header_row">
            <td class="one wide"><a class="no-link" id="graph_expand"><i class="large inverted white caret square down outline icon"></i></a></td>
            <td colspan=13 class="detail_header_text">Overs</td>
          </tr>
          <tr id="graph_details_row">
            <td colspan=2>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui grid">
    <div class="ui sixteen wide column">
        <table class="ui attached very compact celled table" id="inning_details_table">
          <tbody>
            <tr id="details-collapse-row" class="detail_header_row">
              <td class="one wide"><a class="no-link" id="details_collapse"><i class="large inverted white caret square up outline icon"></i></a></td>
              <td colspan=13 class="detail_header_text">Inning Details</td>
            </tr>
            <tr id="details-expand-row" class="detail_header_row">
              <td class="one wide"><a class="no-link" id="details_expand"><i class="large inverted white caret square down outline icon"></i></a></td>
              <td colspan=13 class="detail_header_text">Inning Details</td>
            </tr>
            <tr id="inning_details_row1">
              <td class="detail_label">Round</td>
              <td class="one wide"><%= @inning.match.fixture.round.round_no %></td>
              <td class="detail_label">Start</td>
              <td class="two wide"><%= @inning.match.fixture.round.start_date.to_formatted_s(:rfc822) %></td>
              <td class="detail_label">Finish</td>
              <td class="two wide"><%= @inning.match.fixture.round.end_date.to_formatted_s(:rfc822) %></td>
              <td class="detail_label">Grade</td>
              <td class="two wide"><%= @inning.match.fixture.grade %></td>
              <td class="detail_label">Home</td>
              <td class="three wide"><%= @inning.match.fixture.home_team %></td>
              <td class="detail_label">Away</td>
              <td class="three wide"><%= @inning.match.fixture.away_team %></td>
              <td class="detail_label">Ground</td>
              <td class="three wide"><%= @inning.match.fixture.ground %></td>
            </tr>
            <tr id="inning_details_row2">
              <td class="detail_label">Toss</td>
              <td colspan=3></td>
              <td class="detail_label">Umpire</td>
              <td><%= @inning.match.referee1 %></td>
              <td class="detail_label">Umpire</td>
              <td><%= @inning.match.referee2 %></td>
              <td class="detail_label">Scorer</td>
              <td><%= @inning.match.scorer %></td>
              <td class="detail_label">Result</td>
              <td colspan=3><%= @inning.match.result %></td>
            </tr>
            <tr class="ui form" id="inning_details_row3">
              <td class="detail_label">Inning</td>
              <td colspan=3><%= form.text_field :inning_no, id: 'inning_inning_no', class: 'ui mini input' %></td>
              <td class="detail_label">Batting</td>
              <td colspan=3><%= form.text_field :batting_team, id: 'inning_batting_team', class: 'ui mini input' %></td>
              <td class="detail_label">Bowling</td>
              <td colspan=3><%= form.text_field :bowling_team, id: 'inning_bowling_team', class: 'ui mini input' %></td>
              <td class="detail_label">Score</td>
              <td><%= form.text_field :score, id: 'inning_score', class: 'ui mini input' %></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <div class="ui grid">
    <div class="ui sixteen wide column">
      <table class="ui attached very compact celled table" id="batting_table">
        <tbody>
          <tr id="batting-collapse-row" class="detail_header_row">
            <td class="one wide"><a class="no-link" id="batting_collapse"><i class="large inverted white caret square up outline icon"></i></a></td>
            <td colspan=13 class="detail_header_text">Batting Details</td>
          </tr>
          <tr id="batting-expand-row" class="detail_header_row">
            <td class="one wide"><a class="no-link" id="batting_expand"><i class="large inverted white caret square down outline icon"></i></a></td>
            <td colspan=13 class="detail_header_text">Batting Details</td>
          </tr>
          <tr id="batting_details_row">
            <table class="ui celled table" id="batting_details_table">
      <tr>
        <th>Batter</th>
        <th>Details</th>
        <th>How Out</th>
        <th>Fielder</th>
        <th>Bowler</th>
        <th>4s</th>
        <th>6s</th>
        <th>Runs</th>
      </tr>
      <tr>
        <td>01</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>02</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>03</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>04</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>05</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>06</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>07</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>08</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>09</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>10</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>11</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui grid">
    <div class="ui sixteen wide column">
      <table class="ui attached very compact celled table" id="fow_table">
        <tbody>
          <tr id="fow-collapse-row" class="detail_header_row">
            <th class="one wide"><a class="no-link" id="fow_collapse"><i class="large inverted white caret square up outline icon"></i></a></td>
            <td colspan=13 class="detail_header_text">Fall Of Wickets</td>
          </tr>
          <tr id="fow-expand-row" class="detail_header_row">
            <th class="one wide"><a class="no-link" id="fow_expand"><i class="large inverted white caret square down outline icon"></i></a></td>
            <td colspan=13 class="detail_header_text">Fall Of Wickets</td>
          </tr>
          <tr id="fow_details_row">
            <table class="ui definition celled table" id="fow_details_table">
          <tr align="center">
            <th></th>
            <th>01</th>
            <th>02</th>
            <th>03</th>
            <th>04</th>
            <th>05</th>
            <th>06</th>
            <th>07</th>
            <th>08</th>
            <th>09</th>
            <th>10</th>
          </tr>
          <tr align="center">
            <td class="one wide">Batter Out</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr align="center">
            <td>Not Out</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr align="center">
            <td>Score</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui grid">
    <div class="ui sixteen wide column">
      <table class="ui attached very compact celled table" id="bowling_table">
        <tbody>
          <tr id="bowling-collapse-row" class="detail_header_row">
            <td class="one wide"><a class="no-link" id="bowling_collapse"><i class="large inverted white caret square up outline icon"></i></a></td>
            <td colspan=13 class="detail_header_text">Bowling Details</td>
          </tr>
          <tr id="bowling-expand-row" class="detail_header_row">
            <td class="one wide"><a class="no-link" id="bowling_expand"><i class="large inverted white caret square down outline icon"></i></a></td>
            <td colspan=13 class="detail_header_text">Bowling Details</td>
          </tr>
          <tr id="bowling_details_row">
            <table class="ui celled table" id="bowling_details_table">
      <tr>
        <th>Bowler</th>
        <th>Details</th>
        <th>Overs</th>
        <th>Maidens</th>
        <th>Wides</th>
        <th>No Balls</th>
        <th>Byes</th>
        <th>Leg Byes</th>
        <th>Wickets</th>
        <th>Runs</th>
      </tr>
      <tr>
        <td>01</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>02</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>03</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>04</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>05</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>06</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>07</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>08</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>09</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
