<p id="notice"><%= notice %></p>

<h1>Innings</h1>

<table>
  <thead>
    <tr>
      <th>Inning no</th>
      <th>Batting team</th>
      <th>Bowling team</th>
      <th>Runs</th>
      <th>Wickets</th>
      <th>Byes</th>
      <th>Legbyes</th>
      <th>No balls</th>
      <th>Wides</th>
      <th>Score</th>
      <th>Match</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @innings.each do |inning| %>
      <tr>
        <td><%= inning.inning_no %></td>
        <td><%= inning.batting_team %></td>
        <td><%= inning.bowling_team %></td>
        <td><%= inning.runs %></td>
        <td><%= inning.wickets %></td>
        <td><%= inning.byes %></td>
        <td><%= inning.legbyes %></td>
        <td><%= inning.no_balls %></td>
        <td><%= inning.wides %></td>
        <td><%= inning.score %></td>
        <td><%= inning.match %></td>
        <td><%= link_to 'Show', inning %></td>
        <td><%= link_to 'Edit', edit_inning_path(inning) %></td>
        <td><%= link_to 'Destroy', inning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inning', new_inning_path %>
