<p id="notice"><%= notice %></p>

<p>
  <strong>Inning no:</strong>
  <%= @inning.inning_no %>
</p>

<p>
  <strong>Batting team:</strong>
  <%= @inning.batting_team %>
</p>

<p>
  <strong>Bowling team:</strong>
  <%= @inning.bowling_team %>
</p>

<p>
  <strong>Runs:</strong>
  <%= @inning.runs %>
</p>

<p>
  <strong>Wickets:</strong>
  <%= @inning.wickets %>
</p>

<p>
  <strong>Byes:</strong>
  <%= @inning.byes %>
</p>

<p>
  <strong>Legbyes:</strong>
  <%= @inning.legbyes %>
</p>

<p>
  <strong>No balls:</strong>
  <%= @inning.no_balls %>
</p>

<p>
  <strong>Wides:</strong>
  <%= @inning.wides %>
</p>

<p>
  <strong>Score:</strong>
  <%= @inning.score %>
</p>

<p>
  <strong>Match:</strong>
  <%= @inning.match %>
</p>

<%= link_to 'Edit', edit_inning_path(@inning) %> |
<%= link_to 'Back', innings_path %>
