<%= render layout: 'layouts/sidemenu' do %>
  <%= form_with(model: player, local: true) do |form| %>
    <% if player.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(player.errors.count, "error") %> prohibited this team from being saved:</h2>

        <ul>
        <% player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="actions">
    <%= form.submit "Save", class: 'ui small blue button' %>
    <%= link_to "Cancel", players_path, class:"ui small red button" %>
  </div>
  <div class="ui form">
    <div class="thirteen wide field">
      <%= form.label :club_id, 'Club', class: 'label' %>
      <%= form.select(:club_id, options_from_collection_for_select(@clubs, "id", "name", @player.club_id), {}, {class: 'ui dropdown', id: 'club_id'}) %>
    </div>
    <div class="two fields">
      <div class="four wide field">
        <%= form.label :first_name, class: 'label' %>
        <%= form.text_field :first_name, id: 'first_name' %>
      </div>
      <div class="four wide field">
        <%= form.label :last_name, class: 'label' %>
        <%= form.text_field :last_name, id: 'last_name' %>
      </div>
    </div>
    <div class="two fields">
      <div class="four wide field">
        <%= form.label :full_name, class: 'label' %>
        <%= form.text_field :full_name, id: 'full_name' %>
      </div>
      <div class="four wide field">
        <%= form.label :display_name, class: 'label' %>
        <%= form.text_field :display_name, id: 'display_name' %>
      </div>
    </div>
    <div class="two fields">
      <div class="four wide field">
        <%= form.label :phone, class: 'label' %>
        <%= form.text_field :phone, id: 'phone' %>
      </div>
      <div class="four wide field">
        <%= form.label :email, class: 'label' %>
        <%= form.text_field :email, id: 'email' %>
      </div>
    </div>
    <div class="field">
      <%= form.label :club_member, class: 'label' %>
      <%= form.check_box :club_member, class: 'ui checkbox', id: 'club_member' %>
    </div>
    <div class="two fields">
      <div class="four wide field">
        <%= form.label :birth_date, class: 'label' %>
        <%= form.text_field :birth_date, id: 'player_birth_date' %>
      </div>
      <div class="five wide field">
        <%= form.label :date_joined, class: 'label' %>
        <%= form.text_field :date_joined, id: 'player_date_joined' %>
      </div>
  <% end %>
<% end %>
