<p id="notice"><%= notice %></p>
<%= render layout: 'layouts/sidemenu' do %>
  <h3 class="grey ui header">
    <i class="user icon"></i>
    <div class="content">Players</div>
  </h3>

  <span><%= link_to "New", new_player_path, class: "ui small blue button" %></span>
  <table class="ui very basic table">
      <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Display Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <% @players.each do |player| %>
              <tr>
                  <td><%= player.first_name %></td>
                  <td><%= player.last_name %></td>
                  <td><%= link_to player.display_name, player, class: 'inline-link' %></td>
                  <td><%= player.phone %></td>
                  <td><%= player.email %></td>
                  <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }, class:'ui tiny red button' %></td>
              </tr>
          <% end %>
      </tbody>
  </table>
<% end %>
