<%= render layout: 'layouts/sidemenu' do %>
  <h3 class="grey ui header">
    <i class="user icon"></i>
    <div class="content">Player Details</div>
  </h3>
  <div class='action-glyphs'>
    <span><%= link_to "Edit", edit_player_path(@player), class: "ui blue button" %></span>
    <span><%= link_to "Cancel", players_path, class:"ui red button" %></span>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="ui form">
    <div class="thirteen wide field">
      <label>Club</label>
      <%= @player.club.name %>
    </div>
    <div class="two fields">
      <div class="four wide field">
        <label>First Name</label>
        <%= @player.first_name %>
      </div>
      <div class="four wide field">
        <label>Last Name</label>
        <%= @player.last_name %>
      </div>
    </div>
    <div class="two fields">
      <div class="four wide field">
        <label>Full Name</label>
        <%= @player.full_name %>
      </div>
      <div class="four wide field">
        <label>Display Name</label>
        <%= @player.display_name %>
      </div>
    </div>
    <div class="two fields">
      <div class="four wide field">
        <label>Phone</label>
        <%= @player.phone %>
      </div>
      <div class="four wide field">
        <label>Email</label>
        <%= @player.email %>
      </div>
    </div>
    <div class="three fields">
      <div class="four wide field">
        <label>Club Member</label>
        <%= yesno_boolean(@player.club_member) %>
      </div>
      <div class="four wide field">
        <label>DOB</label>
        <%= @player.birth_date.to_formatted_s(:rfc822) %>
      </div>
      <div class="five wide field">
        <label>Date Joined</label>
        <%= @player.date_joined.to_formatted_s(:rfc822) %>
      </div>
    </div>
  </div>
<% end %>
