    <div class="three fields">
      <div class="two wide field">
        <label>Round No</label>
        <%= @round.round_no %>
      </div>
      <div class="two wide field">
        <label>Start Date</label>
        <%= @round.start_date.to_formatted_s(:rfc822) %>
      </div>
      <div class="two wide field">
        <label>End Date</label>
        <%= @round.end_date.to_formatted_s(:rfc822) %>
      </div>
    </div>
    <div class="three fields">
      <div class="two wide field">
        <div class='label'>Home Team</div>
        <%= @fixture.home_team %>
      </div>
      <div class="two wide field">
        <div class='label'>Away Team</div>
        <%= @fixture.away_team %>
      </div>
      <div class="two wide field">
        <div class='label'>Ground</div>
        <%= @fixture.ground %>
      </div>
    </div>
