<%= render layout: 'layouts/sidemenu' do %>
  <%= form_with(model: match, local: true, class: 'match-form') do |form| %>
    <% if match.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

        <ul>
        <% match.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="actions">
      <%= form.submit "Save", class: 'ui small blue button', id: 'save-button' %>
      <%= link_to "Cancel", fixture_matches_path(:fixture_id), class:"ui small red button" %>
    </div>
  <div class="ui form">
    <div class="three fields">
      <div class="two wide field">
        <label>Round No</label>
        <%= match.fixture.round.round_no %>
      </div>
      <div class="two wide field">
        <label>Start Date</label>
        <%= match.fixture.round.start_date.to_formatted_s(:rfc822) %>
      </div>
      <div class="two wide field">
        <label>End Date</label>
        <%= match.fixture.round.end_date.to_formatted_s(:rfc822) %>
      </div>
    </div>
    <div class="four fields">
      <div class="one wide field">
        <label>Grade</label>
        <%= match.fixture.grade %>
      </div>
      <div class="two wide field">
        <label>Home Team</label>
        <%= match.fixture.home_team %>
      </div>
      <div class="two wide field">
        <label>Away Team</label>
        <%= match.fixture.away_team %>
      </div>
      <div class="two wide field">
        <label>Ground</label>
        <%= match.fixture.ground %>
      </div>
    </div>
    <div class="two fields">
      <div class="three wide field">
        <%= form.label :referee1, 'Referee', class: 'label' %>
        <%= form.text_field :referee1, id: 'match_referee1' %>
      </div>
      <div class="three wide field">
        <%= form.label :referee2, 'Referee', class: 'label' %>
        <%= form.text_field :referee2, id: 'match_referee2' %>
      </div>
    </div>
    <div class="three wide field">
      <%= form.label :scorer, 'Scorer', class: 'label' %>
      <%= form.text_field :scorer, id: 'match_scorer' %>
    </div>
    <div class="four wide field">
      <%= form.label :result, 'Match Result', class: 'label' %>
      <%= form.text_field :result, id: 'match_result' %>
    </div>
      <div class="ui accordion">
      <div class="title"><i class="dropdown icon"></i>Team Lists</div>
      <div class="content">
        <div class="ui grid">
          <div class="three wide column">
            <h5 class="ui dividing header">Home Team</h5>
            <table class="ui compact collapsing celled table">
              <tr id="home_select_1">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_1"></i></td>
                <td><%= form.select(:player_home_id_1, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_1), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id_1', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_1">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_1"></i></td>
                <td><%= form.text_field :player_home_1, id: 'player_home_1', class: "ui small input" %></td>
              </tr>
              <tr id="home_select_2">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_2"></i></td>
                <td><%= form.select(:player_home_id_2, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_2), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id2', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_2">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_2"></i></td>
                <td><%= form.text_field :player_home_2, id: 'player_home_2', class: "ui small input" %></td>
              </tr>
              <tr id="home_select_3">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_3"></i></td>
                <td><%= form.select(:player_home_id_3, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_3), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id_3', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_3">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_3"></i></td>
                <td><%= form.text_field :player_home_3, id: 'player_home_3', class: "ui small input" %></td>
              </tr>
              <tr id="home_select_4">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_4"></i></td>
                <td><%= form.select(:player_home_id_4, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_4), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id_4', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_4">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_4"></i></td>
                <td><%= form.text_field :player_home_4, id: 'player_home_4', class: "ui small input" %></td>
              </tr>
              <tr id="home_select_5">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_5"></i></td>
                <td><%= form.select(:player_home_id_5, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_5), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id_5', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_5">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_5"></i></td>
                <td><%= form.text_field :player_home_5, id: 'player_home_5', class: "ui small input" %></td>
              </tr>
              <tr id="home_select_6">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_6"></i></td>
                <td><%= form.select(:player_home_id_6, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_6), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id_6', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_6">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_6"></i></td>
                <td><%= form.text_field :player_home_6, id: 'player_home_6', class: "ui small input" %></td>
              </tr>
              <tr id="home_select_7">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_7"></i></td>
                <td><%= form.select(:player_home_id_7, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_7), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id_7', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_7">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_7"></i></td>
                <td><%= form.text_field :player_home_7, id: 'player_home_7', class: "ui small input" %></td>
              </tr>
              <tr id="home_select_8">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_8"></i></td>
                <td><%= form.select(:player_home_id_8, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_8), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id_8', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_8">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_8"></i></td>
                <td><%= form.text_field :player_home_8, id: 'player_home_8', class: "ui small input" %></td>
              </tr>
              <tr id="home_select_9">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_9"></i></td>
                <td><%= form.select(:player_home_id_9, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_9), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id_9', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_9">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_9"></i></td>
                <td><%= form.text_field :player_home_9, id: 'player_home_9', class: "ui small input" %></td>
              </tr>
              <tr id="home_select_10">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_10"></i></td>
                <td><%= form.select(:player_home_id_10, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_10), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id_10', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_10">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_10"></i></td>
                <td><%= form.text_field :player_home_10, id: 'player_home_10', class: "ui small input" %></td>
              </tr>
              <tr id="home_select_11">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_11"></i></td>
                <td><%= form.select(:player_home_id_11, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_11), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id_11', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_11">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_11"></i></td>
                <td><%= form.text_field :player_home_11, id: 'player_home_11', class: "ui small input" %></td>
              </tr>
              <tr id="home_select_12">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_12"></i></td>
                <td><%= form.select(:player_home_id_12, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_12), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id_12', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_12">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_12"></i></td>
                <td><%= form.text_field :player_home_12, id: 'player_home_12', class: "ui small input" %></td>
              </tr>
              <tr id="home_select_13">
                <td class="collapsing"><i class="edit blue icon" id="hide_home_select_13"></i></td>
                <td><%= form.select(:player_home_id_13, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_home_id_13), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_home_id_13', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="home_edit_13">
                <td class="collapsing"><i class="list blue icon" id="hide_home_edit_13"></i></td>
                <td><%= form.text_field :player_home_13, id: 'player_home_13', class: "ui small input" %></td>
              </tr>
            </table>
          </div>
          <div class="three wide column">
            <h5 class="ui dividing header">Away Team</h5>
            <table class="ui compact collapsing celled table">
              <tr id="away_select_1">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_1"></i></td>
                <td><%= form.select(:player_away_id_1, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_1), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_1', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_1">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_1"></i></td>
                <td><%= form.text_field :player_away_1, id: 'player_away_1', class: "ui small input" %></td>
              </tr>
              <tr id="away_select_2">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_2"></i></td>
                <td><%= form.select(:player_away_id_2, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_2), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_2', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_2">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_2"></i></td>
                <td><%= form.text_field :player_away_2, id: 'player_away_2', class: "ui small input" %></td>
              </tr>
              <tr id="away_select_3">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_3"></i></td>
                <td><%= form.select(:player_away_id_3, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_3), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_3', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_3">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_3"></i></td>
                <td><%= form.text_field :player_away_3, id: 'player_away_3', class: "ui small input" %></td>
              </tr>
              <tr id="away_select_4">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_4"></i></td>
                <td><%= form.select(:player_away_id_4, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_4), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_4', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_4">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_4"></i></td>
                <td><%= form.text_field :player_away_4, id: 'player_away_4', class: "ui small input" %></td>
              </tr>
              <tr id="away_select_5">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_5"></i></td>
                <td><%= form.select(:player_away_id_5, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_5), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_5', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_5">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_5"></i></td>
                <td><%= form.text_field :player_away_5, id: 'player_away_5', class: "ui small input" %></td>
              </tr>
              <tr id="away_select_6">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_6"></i></td>
                <td><%= form.select(:player_away_id_6, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_6), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_6', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_6">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_6"></i></td>
                <td><%= form.text_field :player_away_6, id: 'player_away_6', class: "ui small input" %></td>
              </tr>
              <tr id="away_select_7">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_7"></i></td>
                <td><%= form.select(:player_away_id_7, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_7), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_7', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_7">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_7"></i></td>
                <td><%= form.text_field :player_away_7, id: 'player_away_7', class: "ui small input" %></td>
              </tr>
              <tr id="away_select_8">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_8"></i></td>
                <td><%= form.select(:player_away_id_8, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_8), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_8', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_8">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_8"></i></td>
                <td><%= form.text_field :player_away_8, id: 'player_away_8', class: "ui small input" %></td>
              </tr>
              <tr id="away_select_9">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_9"></i></td>
                <td><%= form.select(:player_away_id_9, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_9), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_9', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_9">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_9"></i></td>
                <td><%= form.text_field :player_away_9, id: 'player_away_9', class: "ui small input" %></td>
              </tr>
              <tr id="away_select_10">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_10"></i></td>
                <td><%= form.select(:player_away_id_10, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_10), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_10', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_10">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_10"></i></td>
                <td><%= form.text_field :player_away_10, id: 'player_away_10', class: "ui small input" %></td>
              </tr>
              <tr id="away_select_11">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_11"></i></td>
                <td><%= form.select(:player_away_id_11, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_11), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_11', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_11">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_11"></i></td>
                <td><%= form.text_field :player_away_11, id: 'player_away_11', class: "ui small input" %></td>
              </tr>
              <tr id="away_select_12">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_12"></i></td>
                <td><%= form.select(:player_away_id_12, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_12), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_12', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_12">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_12"></i></td>
                <td><%= form.text_field :player_away_12, id: 'player_away_12', class: "ui small input" %></td>
              </tr>
              <tr id="away_select_13">
                <td class="collapsing"><i class="edit blue icon" id="hide_away_select_13"></i></td>
                <td><%= form.select(:player_away_id_13, options_from_collection_for_select(Player.all, "id", "display_name",@match.player_away_id_13), {include_blank: true}, {class: 'ui fluid dropdown', id: 'player_away_id_13', style: 'width: 162px'}) %></td>
              </tr>
              <tr id="away_edit_13">
                <td class="collapsing"><i class="list blue icon" id="hide_away_edit_13"></i></td>
                <td><%= form.text_field :player_away_13, id: 'player_away_13', class: "ui small input" %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  <% end %>
<% end %>
