<p id="notice"><%= notice %></p>
<%= render layout: 'layouts/sidemenu' do %>
  <h3 class="grey ui header">
      <i class="globe icon"></i>
      <div class="content">All Matches</div>
  </h3>
  <table class="ui very basic table">
      <tbody>
          <% Competition.all.each do |comp| %>
          <tr>
              <td colspan="8">
                  <div class="ui accordion">
                      <div class="title">
                        <i class="icon dropdown"></i><h4 class="ui label basic blue"><%= comp.name %></h4>
                      </div>
                      <div class="content" style="padding-left: 20px;">
                          <% comp.rounds.each do |round| %>
                            <div class="accordion">
                              <div class="green title">
                                <i class="icon dropdown"></i><h5 class="ui label basic teal">Round <%= round.round_no %></h5>
                              </div>
                              <div class="content" style="padding-left: 40px;">
                                  <table class="ui very basic table">
                                    <thead>
                                        <tr>
                                            <th>Start date</th>
                                            <th>End date</th>
                                            <th class="two wide">Grade</th>
                                            <th class="two wide">Home Team</th>
                                            <th class="two wide">Away Team</th>
                                            <th class="two wide">Ground</th>
                                            <th class="two wide"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% round.all_matches.each do |match| %>
                                            <td style="vertical-align: top;" class="two wide"><%= link_to match.fixture.round.start_date.to_formatted_s(:rfc822), match, class: 'inline-link' %></td>
                                            <td style="vertical-align: top;" class="two wide"><%= match.fixture.round.end_date.to_formatted_s(:rfc822) %></td>
                                            <td style="vertical-align: top;padding-left: 10px;" class="two wide"><%= match.fixture.grade %></td>
                                            <td style="vertical-align: top;" class="two wide"><%= match.fixture.home_team %></td>
                                            <td style="vertical-align: top;" class="two wide"><%= match.fixture.away_team %></td>
                                            <td style="vertical-align: top;" class="two wide"><%= match.fixture.ground %></td>
                                            <td>
                                                <%= link_to "Innings", fixture_matches_path(:fixture_id), class: "ui tiny teal button" %>
                                                <%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' }, class:'ui tiny red button' %>
                                            </td>
                                        <% end %>    
                                    </tbody>
                                  </table>
                                  
                              </div>
                            </div>
                          <% end %>
                          
                      </div>
                  </div>
              </td>
          </tr>
          <% end %>
      </tbody>
  </table>
      

 <% end %>
