<p id="notice"><%= notice %></p>
<%= render layout: 'layouts/sidemenu' do %>
  <h3 class="grey ui header">
      <i class="globe icon"></i>
      <div class="content">Matches</div>
  </h3>
  <span><%= link_to "New", new_fixture_match_path(params[:fixture_id]), class: "ui small blue button" %></span>
  <table class="ui very basic table">
    <thead>
      <tr>
        <th>Round No</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Grade</th>
        <th>Home Team</th>
        <th></th>
        <th>Away Team</th>
        <th></th>
        <th>Ground</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @matches.each do |match| %>
        <tr>
          <td><%= link_to match.fixture.round.round_no, match, class: 'inline-link' %></td>
          <td><%= match.fixture.round.start_date.to_formatted_s(:rfc822) %></td>
          <td><%= match.fixture.round.end_date.to_formatted_s(:rfc822) %></td>
          <td><%= match.fixture.grade %></td>
          <td><%= match.fixture.home_team %></td>
          <td><%= match.fixture.away_team %></td>
          <td><%= match.fixture.ground %></td>
          <td>
            <%= link_to "Innings", fixture_matches_path(:fixture_id), class: "ui tiny teal button" %>
            <%= link_to "New Innings", new_match_inning_path(match.id), class: "ui tiny blue button" %>
            <%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' }, class:'ui tiny red button' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>