<%= render layout: 'layouts/sidemenu' do %>
  <h3 class="grey ui header">
    <i class="user icon"></i>
    <div class="content">Match Details</div>
  </h3>
  <div class='action-glyphs'>
    <span><%= link_to "Edit", edit_match_path(@match), class: "ui blue button" %></span>
    <span><%= link_to "Cancel", fixture_matches_path(@match.fixture_id), class:"ui red button" %></span>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="ui form">
    <div class="three fields">
      <div class="two wide field">
        <label>Round No</label>
        <%= @match.fixture.round.round_no %>
      </div>
      <div class="two wide field">
        <label>Start Date</label>
        <%= @match.fixture.round.start_date.to_formatted_s(:rfc822) %>
      </div>
      <div class="two wide field">
        <label>End Date</label>
        <%= @match.fixture.round.end_date.to_formatted_s(:rfc822) %>
      </div>
    </div>
    <div class="four fields">
      <div class="one wide field">
        <label>Grade</label>
        <%= @match.fixture.grade %>
      </div>
      <div class="two wide field">
        <label>Home Team</label>
        <%= @match.fixture.home_team %>
      </div>
      <div class="two wide field">
        <label>Away Team</label>
        <%= @match.fixture.away_team %>
      </div>
      <div class="two wide field">
        <label>Ground</label>
        <%= @match.fixture.ground %>
      </div>
    </div>
    <div class="two fields">
      <div class="three wide field">
        <label>Referee</label>
        <%= @match.referee1 %>
      </div>
      <div class="three wide field">
        <label>Referee</label>
        <%= @match.referee2 %>
      </div>
    </div>
    <div class="three wide field">
      <label>Scorer</label>
      <%= @match.scorer %>
    </div>
    <div class="four wide field">
      <label>Result</label>
      <%= @match.result %>
    </div>
    <div class="ui accordion">
      <div class="title blue"><i class="dropdown icon"></i>Team Lists</div>
      <div class="content">
        <div class="ui grid">
          <div class="three wide column">
            <h5 class="ui dividing header">Home Team</h5>
            <table class="ui compact celled table">
              <tr>
                <td>1</td>
                <td><%= @match.player_home_1 %></td>
              </tr>
              <tr>
                <td>2</td>
                <td><%= @match.player_home_2 %></td>
              </tr>
              <tr>
                <td>3</td>
                <td><%= @match.player_home_3 %></td>
              </tr>
              <tr>
                <td>4</td>
                <td><%= @match.player_home_4 %></td>
              </tr>
              <tr>
                <td>5</td>
                <td><%= @match.player_home_5 %></td>
              </tr>
              <tr>
                <td>6</td>
                <td><%= @match.player_home_6 %></td>
              </tr>
              <tr>
                <td>7</td>
                <td><%= @match.player_home_7 %></td>
              </tr>
              <tr>
                <td>8</td>
                <td><%= @match.player_home_8 %></td>
              </tr>
              <tr>
                <td>9</td>
                <td><%= @match.player_home_9 %></td>
              </tr>
              <tr>
                <td>10</td>
                <td><%= @match.player_home_10 %></td>
              </tr>
              <tr>
                <td>11</td>
                <td><%= @match.player_home_11 %></td>
              </tr>
              <tr>
                <td>12</td>
                <td><%= @match.player_home_12 %></td>
              </tr>
              <tr>
                <td>13</td>
                <td><%= @match.player_home_13 %></td>
              </tr>
            </table>
          </div>
          <div class="three wide column">
            <h5 class="ui dividing header">Away Team</h5>
            <table class="ui compact celled table">
              <tr>
                <td>1</td>
                <td><%= @match.player_away_1 %></td>
              </tr>
              <tr>
                <td>2</td>
                <td><%= @match.player_away_2 %></td>
              </tr>
              <tr>
                <td>3</td>
                <td><%= @match.player_away_3 %></td>
              </tr>
              <tr>
                <td>4</td>
                <td><%= @match.player_away_4 %></td>
              </tr>
              <tr>
                <td>5</td>
                <td><%= @match.player_away_5 %></td>
              </tr>
              <tr>
                <td>6</td>
                <td><%= @match.player_away_6 %></td>
              </tr>
              <tr>
                <td>7</td>
                <td><%= @match.player_away_7 %></td>
              </tr>
              <tr>
                <td>8</td>
                <td><%= @match.player_away_8 %></td>
              </tr>
              <tr>
                <td>9</td>
                <td><%= @match.player_away_9 %></td>
              </tr>
              <tr>
                <td>10</td>
                <td><%= @match.player_away_10 %></td>
              </tr>
              <tr>
                <td>11</td>
                <td><%= @match.player_away_11 %></td>
              </tr>
              <tr>
                <td>12</td>
                <td><%= @match.player_away_12 %></td>
              </tr>
              <tr>
                <td>13</td>
                <td><%= @match.player_away_13 %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

