<%= render layout: 'layouts/sidemenu' do %>
<%= form_with(model: keyword, local: true) do |form| %>
  <% if keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>

      <ul>
      <% keyword.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit "Save", class: 'ui small blue button' %>
    <%= link_to "Cancel", keywords_path, class:"ui small red button" %>
  </div>
  <div class="ui form">
    <div class="field">
      <%= form.label :key_type, 'Type', class: 'label' %>
      <%= form.text_field :key_type, class: 'six wide field', id: 'key_type' %>
    </div>
    <div class="field">
      <%= form.label :key_subtype, 'SubType', class: 'label' %>
      <%= form.text_field :key_subtype, class: 'six wide field', id: 'key_subtype' %>
    </div>
    <div class="field">
      <%= form.label :key_value, 'Value', class: 'label' %>
      <%= form.text_field :key_value, class: 'six wide field', id: 'key_value' %>
    </div>
  </div>
<% end %>
<% end %>
