<%= render layout: 'layouts/sidemenu' do %>
<span><%= link_to "New", new_keyword_path, class: "ui small blue button" %></span>
  <table class="ui very basic table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Subtype</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @keywords.order(key_type: :asc, key_subtype: :asc, key_value: :asc).each do |keyword| %>
                <tr>
                    <td><%= link_to keyword.key_type, keyword, class: 'inline-link' %></td>
                    <td><%= keyword.key_subtype %></td>
                    <td><%= keyword.key_value %></td>
                    <td><%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' }, class:'ui tiny red button' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% end %>
