<%= render layout: 'layouts/sidemenu' do %>
<div class='action-glyphs'>
  <span><%= link_to "Edit", edit_keyword_path(@keyword), class: "ui blue button" %></span>
  <span><%= link_to "Cancel", keywords_path, class:"ui red button" %></span>
</div>
<p id="notice"><%= notice %></p>
<div class="ui form">
  <div class="field">
    <label>Type</label>
    <%= @keyword.key_type %>
  </div>
  <div class="field">
    <label>SubType</label>
    <%= @keyword.key_subtype %>
  </div>
  <div class="field">
    <label>Value</label>
    <%= @keyword.key_value %>
  </div>
</div>
<% end %>
