/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/datepicker
 *= require_self
 */
 @import "semantic-ui";
 @import "jquery-ui/datepicker";

 a.inline-link:hover {
    background-color: transparent;
    text-decoration: underline;
 }
 a.no-link:hover, a.no-link:visited {
    background: none;
    background-color: transparent;
    text-decoration: none;
 
 }
 #inning_details_table, #inning_details_table tbody td  {
  border: 1px solid #21BA45; 
  border-collapse: collapse;
 }
 .detail_header_row {
  background-color: #21BA45;
 }
 .detail_header_text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.2em;
 }
 .detail_label {
  color: #21BA45;
  background-color: #DCDCDC;
 }
