<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical menu">
      <span><%= link_to "Club", clubs_path, class: "item" %></span>
      <span><%= link_to "Teams", teams_path, class: "item" %></span>
      <span><%= link_to "Players", players_path, class: "item" %></span>
      <div class="ui divider"></div>
      <span><%= link_to "Competitions", competitions_path, class: "item" %></span>
      <span><%= link_to "Fixtures", clubs_path, class: "item" %></span>
      <div class="ui divider"></div>
      <span><%= link_to "Keywords", keywords_path, class: "item" %></span>
    </div>
  </div>
  <div class="twelve wide column">
    <%= yield %>
  </div>
</div>
