<!DOCTYPE html>
<html>
  <head>
    <title>RubyCricket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui blue inverted menu">

        <a href="/" class="header item">
          <%= image_tag "logo1.png", class: "logo" %>&nbsp;&nbsp;rubyCricket
        </a>
        <a href="/" class="item">Home</a>
        <div class="ui simple dropdown item">
          Administration <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to "Club", clubs_path, class: "item" %>
            <%= link_to "Teams", teams_path, class: "item" %>
            <%= link_to "Players", players_path, class: "item" %>
            <div class="divider"></div>
            <%= link_to "Competitions", competitions_path, class: "item" %>
            <a class="item" href="#">Fixtures</a>
            <div class="divider"></div>
            <a class="item" href="#">Keywords</a>
          </div>
        </div>

    </div>
    <%= yield %>
  </body>
</html>
